<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-purchase"
        version="7.2.5">

    <name>Purchase</name>
	<description>Cordova Purchase plugin for iOS (AppStore), Android (PlayStore) and Windows</description>
    <engines>
        <engine name="cordova" version=">=6.0.0" />
        <engine name="cordova-android" version=">=4.0.0" />
    </engines>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/store-ios.js" name="InAppPurchase">
            <clobbers target="store" />
        </js-module>

        <!-- Cordova 2.2 -->
        <plugins-plist key="InAppPurchase" string="InAppPurchase" />

        <!-- Cordova 2.5+ -->
        <config-file target="config.xml" parent="/*">
            <feature name="InAppPurchase">
                <param name="ios-package" value="InAppPurchase" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/InAppPurchase.h" />
        <source-file src="src/ios/InAppPurchase.m" />
        <header-file src="src/ios/SKProduct+LocalizedPrice.h" />
        <source-file src="src/ios/SKProduct+LocalizedPrice.m" />
        <header-file src="src/ios/FileUtility.h" />
        <source-file src="src/ios/FileUtility.m" />

        <framework src="StoreKit.framework" />
    </platform>

</plugin>
